@font-face {
    font-family: 'TAN-MON-CHERI';
    src: url('../fonts/tan-mon-cheri/TAN\ -\ MON\ CHERI.woff');
    src: url('../fonts/tan-mon-cheri/TAN\ -\ MON\ CHERI.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Quicksand:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #fffcf6;
    color: #6d5a4e;
}

h1,
h3 {
    font-family: 'TAN-MON-CHERI', 'Qeraldin', 'Philosopher', sans-serif;
}

h3 {
    letter-spacing: 2px;
}

p {
    line-height: 1.5;
}

hr {
    border-top: 1px solid #6d5a4e;
}

.underline {
    border-bottom: 2px solid #92B4A0;
}

.button {
    text-decoration: none;
    background-color: transparent;
    color: #6d5a4e;
    border: 1px solid #6d5a4e;
    line-height: 1.5;
    font-size: 125%;
    padding: 12px 30px;
}

.button:hover {
    background-color: #6d5a4e;
    color: #fbf7eb;
}

/* ----- Navigation bar -----*/

#navbar {
    background-color: #6d5a4e;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
}

#logo {
    width: 80px;
}

#nav-menu {
    list-style-type: none;
}

#nav-menu li {
    display: inline-block;
    font-size: 110%;
    position: relative;
}

#nav-menu li a {
    color: #fbf7eb;
    text-decoration: none;
    line-height: 40px;
    padding-bottom: 3px;
    margin: 0 45px;
}

#nav-menu li li a {
    font-size: 70%;
    line-height: 35px;
}

#nav-menu ul {
    position: absolute;
    display: none;
    background-color: #6d5a4e;
    box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

#nav-menu a:hover {
    border-bottom: 1px solid #e88ea9;
}

#nav-menu li:hover ul {
    display: flex;
    flex-direction: column;
}

.active {
    border-bottom: 1px solid #92b4a0;
}


/* ----- banner ----- */

#banner {
    height: 500px;
    background-image: url('../images/BeigeShadowBanner.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#cover-text {
    text-align: center;
    letter-spacing: 4px;
    top: 270px;
    right: 150px;
    position: absolute;
}

#cover-text h1 {
    font-size: 300%;
}

#cover-text h2 {
    font-size: 120%;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 5px;
}

#cover-text hr {
    width: 44%;
    margin-top: 10px;
}

.hr-left {
    float: left;
}

.hr-right {
    float: right;
}

#cover-text i {
    font-size: 150%;
    color: #6d5a4e
}


/* ----- fixed/sticky social media sidebar ----- */

#fixed-socials {
    position: fixed;
    top: 39%;
    left: 0.85%;
    list-style: none;
    line-height: 2;
}

#fixed-socials i {
    color: #6d5a4e;
    font-size: 120%;
}

#fixed-socials i:hover {
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #6d5a4e;
    padding-bottom: 5px;
}


/* ----- Main ----- */

/* welcome section */

#welcome {
    min-height: 650px;
}

.container {
    margin-top: 100px;
    display: flex;
}

#left-welcome-column {
    width: 40%;
    background-image: url('../images/pink-textured-background.jpg');
    min-height: 650px;
    display: flex;
    align-items: center;
}

#right-welcome-column {
    width: 60%;
    text-align: center;
    padding: 30px 100px 30px 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-welcome-column img {
    width: 401px;
    height: 535px;
    float: right;
    margin: 0 -55px 0 auto;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}

#right-welcome-column h3,
#left-wt-column h3, #right-about-column h3 {
    font-size: 200%;
}

#right-welcome-column p,
#left-wt-column p, #right-about-column p {
    font-size: 120%;
    margin-top: 30px;
}

/*  work together section  */

#work-together {
    min-height: 700px;
}

#left-wt-column {
    width: 60%;
    text-align: center;
    padding: 30px 140px 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-wt-column a {
    margin: 50px auto 0;
}

#right-wt-column {
    width: 40%;
    background-image: url(../images/green-textured-background.jpg);
    min-height: 650px;
    display: flex;
    align-items: center;
}

#right-wt-column img {
    width: 401px;
    height: 535px;
    margin: 0 auto 0 -55px;
    box-shadow: 2px 0px 8px 0px rgba(128, 128, 128, 1);
    ;
}


/* ----- location ----- */

#location {
    height: 170px;
    text-align: center;
    margin: 75px 100px 0;
}

#location hr {
    width: 47.5%;
    margin-top: 15px;
}

.fi-rs-marker {
    font-size: 200%;
}

#location-content {
    margin: 20px auto;
}

#location-content p {
    margin-top: 10px;
    font-size: 110%;
}


/* ----- footer ----- */

footer {
    background-color: #6d5a4e;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: #fbf7eb;
    font-size: 85%;
    letter-spacing: 2px;
}

#footer-socials i {
    font-size: 150%;
}

#footer-socials {
    list-style-type: none;
}

#footer-socials li {
    display: inline-block;
    margin: 0 30px;
}

footer a,
.underline {
    color: #fbf7eb;
    text-decoration: none;
    padding-bottom: 5px;
}

footer a:hover,
.underline:hover {
    border-bottom: 2px solid #e88ea9;
}


/* ----- about ----- */

#about {
    min-height: 550px;
    margin: 0 100px;
}

#left-about-column {
    width: 35%;
}

#right-about-column {
    width: 65%;
    text-align: center;
}

#left-about-column div {
    width: 320px;
    height: 400px;
    background-image: url('../images/pink-textured-background.jpg');
    margin: 50px 50px 50px 0;
}

#left-about-column img {
    width: 320px;
    height: 400px;
    float: left;
    margin: 30px 30px 0 30px;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}