@font-face {
    font-family: 'TAN-MON-CHERI';
    src: url('../fonts/tan-mon-cheri/TAN\ -\ MON\ CHERI.woff');
    src: url('../fonts/tan-mon-cheri/TAN\ -\ MON\ CHERI.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Quicksand:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: #fffcf6;
    color: #6d5a4e;
}

h1 {
    font-family: 'TAN-MON-CHERI', 'Qeraldin', 'Philosopher', sans-serif;
}

/* ----- Navbar and logo -----*/

#navbar {
    background-color: #6d5a4e;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 80px;
}

#nav-menu {
    list-style-type: none;
    letter-spacing: 2px;
}

#nav-menu li {
    display: inline-block;
    margin: 0 45px;
}

#nav-menu li a {
    color: #fbf7eb;
    text-decoration: none;
    padding-bottom: 3px;
}

#nav-menu a:hover {
    border-bottom: 1px solid #e88ea9;
}

.active {
    border-bottom: 1px solid #92b4a0;
}


/* ----- banner ----- */

#banner {
    height: 500px;
    background-image: url('../images/BeigeShadowBanner.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#cover-text {
    text-align: center;
    letter-spacing: 4px;
    top: 270px;
    right: 150px;
    position: absolute;
}

#cover-text h1 {
    font-size: 300%;
}

#cover-text h2 {
    font-size: 120%;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 5px;
}