@font-face {
    font-family: 'TAN-MON-CHERI';
    src: url('../fonts/tan-mon-cheri/TAN\ -\ MON\ CHERI.woff');
    src: url('../fonts/tan-mon-cheri/TAN\ -\ MON\ CHERI.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Quicksand:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #fffcf6;
    color: #6d5a4e;
}

h1,
h3, h4 {
    font-family: 'TAN-MON-CHERI', 'Qeraldin', 'Philosopher', sans-serif;
}

h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 140%; 
    margin-bottom: 30px; 
}

h4 {
    letter-spacing: 2px;
}

p {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 115%;
    margin-bottom: 30px;
}

hr {
    border-top: 1px solid #6d5a4e;
}

.underline {
    border-bottom: 2px solid #92B4A0;
}

.button {
    text-decoration: none;
    background-color: transparent;
    color: #6d5a4e;
    border: 1px solid #6d5a4e;
    line-height: 1.5;
    font-size: 125%;
    padding: 8px 30px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.button:hover {
    background-color: #6d5a4e;
    color: #fbf7eb;
}

/* ----- Navigation bar -----*/

#navbar {
    background-color: #6d5a4e;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 2px;
}

#logo {
    width: 80px;
}

#nav-menu {
    list-style-type: none;
}

#nav-menu li {
    display: inline-block;
    font-size: 110%;
    position: relative;
}

#nav-menu li a {
    color: #fbf7eb;
    text-decoration: none;
    line-height: 40px;
    padding-bottom: 3px;
    margin: 0 45px;
}

#nav-menu li li a {
    font-size: 70%;
    line-height: 35px;
}

#nav-menu ul {
    position: absolute;
    display: none;
    background-color: #6d5a4e;
    box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

#nav-menu a:hover {
    border-bottom: 1px solid #e88ea9;
}

#nav-menu li:hover ul {
    display: flex;
    flex-direction: column;
}

.active {
    border-bottom: 1px solid #92b4a0;
}


/* ----- banner ----- */

#banner {
    height: 500px;
    background-image: url('../images/BeigeShadowBanner.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#cover-text {
    text-align: center;
    letter-spacing: 4px;
    top: 270px;
    right: 150px;
    position: absolute;
}

#cover-text h1 {
    font-size: 300%;
}

#cover-text h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;
    font-weight: normal;
    padding-top: 5px;
}

#cover-text hr {
    width: 44%;
    margin-top: 10px;
}

.hr-left {
    float: left;
}

.hr-right {
    float: right;
}

#cover-text i {
    font-size: 150%;
    color: #6d5a4e
}


/* ----- fixed/sticky social media sidebar ----- */

#fixed-socials {
    position: fixed;
    top: 39%;
    left: 0.85%;
    list-style: none;
    line-height: 2;
}

#fixed-socials i {
    color: #6d5a4e;
    font-size: 120%;
}

#fixed-socials i:hover {
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #6d5a4e;
    padding-bottom: 5px;
}


/* ----- Main ----- */

/* welcome section */

#welcome {
    min-height: auto;
    margin-top: 100px;
}

.container {
    display: flex;
}

#left-welcome-column {
    width: 40%;
    background-image: url('../images/pink-textured-background.jpg');
    min-height: 650px;
    display: flex;
    align-items: center;
}

#right-welcome-column {
    width: 60%;
    text-align: center;
    padding: 30px 100px 30px 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-welcome-column img {
    width: 401px;
    height: 535px;
    float: right;
    margin: 0 -55px 0 auto;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}

/*  work together section  */

#work-together {
    min-height: auto;
    margin-top: 100px;
}

#left-wt-column {
    width: 60%;
    text-align: center;
    padding: 30px 140px 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-wt-column a {
    margin: 50px auto 0;
}

#right-wt-column {
    width: 40%;
    background-image: url(../images/green-textured-background.jpg);
    min-height: 650px;
    display: flex;
    align-items: center;
}

#right-wt-column img {
    width: 401px;
    height: 535px;
    margin: 0 auto 0 -55px;
    box-shadow: 2px 0px 8px 0px rgba(128, 128, 128, 1);
    ;
}


/* ----- location ----- */

#location {
    height: 170px;
    text-align: center;
    margin: 150px 100px 0;
}

#location hr {
    width: 47.5%;
    margin-top: 15px;
}

.fi-rs-marker {
    font-size: 200%;
}

#location-content {
    margin: 20px auto;
}

#location-content h3 {
    text-transform: none;
    margin-bottom: 0px;
}

#location-content p {
    margin-top: 10px;
    font-size: 110%;
}


/* ----- footer ----- */

footer {
    background-color: #6d5a4e;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: #fbf7eb;
    font-size: 85%;
    letter-spacing: 2px;
}

#footer-socials i {
    font-size: 150%;
}

#footer-socials {
    list-style-type: none;
}

#footer-socials li {
    display: inline-block;
    margin: 0 30px;
}

footer a,
.underline {
    color: #fbf7eb;
    text-decoration: none;
    padding-bottom: 5px;
}

footer a:hover,
.underline:hover {
    border-bottom: 2px solid #e88ea9;
}


/* ----- about ----- */

#about {
    min-height: auto;
    margin: 100px;
}

.intro {
    text-align: center;
    margin-bottom: 75px;
}

.intro p {
    font-size: 120%;
}

.row {
    display: flex;
    align-items: center;
    text-align: center;
}

.content-column {
    width: 80%;
}

.pink-background {
    width: 320px;
    height: 410px;    
}

.front-image {
    width: 320px;
    height: 400px;
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    margin: -410px auto 0 70px;
}

/* ------ Readings ----- */

#readings {
    margin: 100px 75px;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container-1 div {
    padding: 30px;
}

.container-1 div p {
    margin-bottom: 50px;
}


/* ----- Contact ----- */

#contact {
    min-height: auto;
    margin: 100px 75px;
}

#contact h3 {
    text-align: center;
    margin-bottom: 50px;
}

#contact-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#contact-text {
    width: 50%;
    padding-right:20px;
}

#contact-text p {
    font-size: 100%;
}

#contact-text p span {
    font-size: 70%;
}

#contact-text ul {
   list-style-type: none; 
   padding-left: 30px;
}

#contact-text li {
    line-height: 2; 
}

#contact-text li i {
    font-size: 110%;
    margin-right: 10px;
}

.example {
    padding-top: 20px;
}


.form-section {
    width: 50%;
    padding: 0 50px;
    text-align: center;
}

 fieldset {
    border: none;
 }

.text-input,
#question {
    background: transparent;
    font-size: 100%;
    color: #6d5a4e;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 50px;
    margin: 5px 0 20px;
    border: none;
    border-bottom: 2px solid #92B4A0;
}

#fname {
    width: 45%;
    float: left;
}

#lname {
    width: 45%;
    float: right;
}

#message {
    height: 150px;
}

.text-input:hover {
    border-color: #E88EA9;
}

.button {
    margin-top:30px;
}

/* ----- Big Three / Career / Birth Chart ----- */

.specific-reading {
    height: auto;
    margin: 100px;
}

.background-image {
    width: 310px;
    height: 440px;    
}

.reading-cover {
    width: 310px;
    height: 438px;
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    margin: -410px auto 0 70px;
}

.content-column h4 {
    margin-bottom: 15px;
}

.dif {
    margin-top: 60px;
}
